<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<section th:fragment="activePromotions(promotions)">
		<div class="container">
			<h2>Current Promotions</h2>
			<li th:each="promo : ${promotions}">
			    <strong th:text="${promo.promoCode}">CODE</strong>
			    -
			    <span th:text="${promo.description}">Promo description</span>
			    (
			    <span th:text="${promo.displayValue}">value</span>
			    )
			</li>
		</div>
		</section>
	</body>
</html>