<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<section th:fragment="promotionsSection">
		<div class="container">
			<h2>Current Promotions</h2>
			<ul>
				<li th:each="promo : ${promotions}">
				    <strong th:text="${promo.promoCode}"></strong>
				    -
				    <span th:text="${promo.description}"></span>
				    (
				    <span th:text="${promo.displayValue}">value</span>
				    )
				</li>
			</ul>
		</div>
		</section>
	</body>
</html>