.cart-section {
	width: 80%;
}

.cart-container {
	outline: 1px solid red;
	background-color: var(--warm-beige);
}

.order-item-card {
	background-color: white;
}

.cart-link-btn,
.cart-submit-btn {
	text-decoration: none;
	background-color: white;
	border: 2px solid black;
	padding: 0.5rem;
	color: var(--text-primary);
}