/* main {
	height: 100vh;
}
*/
.order-section {
	 /*min-height: 50%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.order-section > h1 {
	align-self: flex-start;
}
.orders-container {
	/* height: 100%; */
	width: 85%;
	background-color: var(--warm-beige);
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.order-item-card {
	border: 1px solid black; /* dark cocoa */
	border-radius: 0.5rem;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	padding: 0 0 1rem 0;
}

.order-card-image {
	width: 70%;
	margin: auto;
	border-radius: 0.5rem;
}

hr {
	width: 100%;
	border: 1px solid black;
	margin: 0.25rem;
}


.order-item-card > h2 {
	font-size: 1rem;
}

.qty-btn {
	background: none;
	border: none;
}

.order-card-actions {

	width: 75%;
	display: flex;
	justify-content: space-around;
}

.add-to-cart-btn {
	padding: 0.25rem;
	border-radius: 0.25rem;	
	max-width: 50%;
	font-size: 0.75rem;
}

.cancel-order-btn {
	font-size: 0.65rem;
	
	align-self: flex-end;
}