<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/public-layout :: layout(~{::content})}">
<head>
<meta charset="UTF-8">
<title>Cookiegram | Cart</title>
</head>
<body>
	<section th:fragment="content" class="cart-section">
		<h1>Cart</h1>
		<div class="cart-container">
			<div th:if="${!#lists.isEmpty(cartItems)}">
				<div th:each="item : ${cartItems}" class="order-item-card">
					<img th:src="@{/images/order/order-placeholder.png}" alt="Picture of a large cookie used for a cookiegram" class="order-card-image">
					<p th:text="${item.getProductType.baseName}"></p>
					<p th:text="'$'+ ${item.getProductType.basePrice}"></p>
					<p th:text="'Qty: ' + ${item.itemQty}"></p>
				</div>	
				<div class="cart-actions">
					<a th:href="@{/order/checkout}" class="cart-link-btn">Checkout</a>
					<a th:href="@{/order}" class="cart-link-btn">Continue Shopping</a>
					<form th:action="@{/order/cart/clear}" method="POST">
					<button type="submit" class="cart-submit-btn">Clear Cart</button>
					</form>
				</div>
			</div>
			
			<div th:if="${#lists.isEmpty(cartItems)}">
				<p>
					Wow! It's so empty in here! More room for goodies!
				</p>
				<div class="cart-actions">
					<a th:href="@{/}" class="cart-link-btn">Home</a>
					<a th:href="@{/order}" class="cart-link-btn">Continue Shopping</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>