<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/public-layout :: layout(~{::content})}">
<head>
<meta charset="UTF-8">
<title>CookieGram | Order</title>
</head>
<body>
	<section th:fragment="content" class="order-section">
		<h1>Order</h1>
		<div class="orders-container">
			<form action="/order/cart/add" method="POST" th:each="product : ${currentProducts}" class="order-item-card">
				<input type="hidden" id="id-input" name="productId" th:value="${product.id}" />
				<input type="hidden" id="item-qty" name="productQuantity" value="1" />
				<img th:src="@{images/order/order-placeholder.png}" alt="Picture of a large cookie used for a cookiegram" class="order-card-image">
				<h2 th:text="${product.basePrice}"></h2>
				<span>Qty: <span class="order-qty-number"><button type="button" class="qty-btn"><img th:src="@{images/arrow_left_black.png}"/></button>0<button type="button" class="qty-btn"><img th:src="@{images/arrow_right_black.png}"/></button></span></span>
				<div class="order-card-actions">
				<button type="submit" class="add-to-cart-btn">Add to Cart</button>
				<a th:href="@{/}">Cancel</a>
				</div>
			</form>
		</div>
	</section>
	
</body>
</html>